.advantages {
  @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}

.card-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.card-list__item {
  width: 100%;
  @media screen and (min-width:768px) {
      width: calc((100% - 30px) / 2);
    }

  @media screen and (min-width:1200px) {
width: 270px;
  }
    
}

.card {
  width: 100%;
}

.card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.card__item--btmargin {
  margin-bottom: 30px;
}

.card__svg {
  width: 70px;
  height: 70px;
}

.card__title {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  @media screen and (min-width:768px) {
      text-align: left;
    }
}

.card__title--btmargin {
  margin-bottom: 10px;
}

.card__text {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #757575;
}
