.work {
  text-align: center;
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.projects {
  display: flex;
  gap: 30px;
  width: calc((1170px - 60px) / 3);
}

.projects__item {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
}

.projects__link > img {
  display: block;
  height: 100%;
}

.projects__text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
}
